<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Messenger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/loader.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/logo.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'sans': ['Poppins', 'sans-serif'],
                },
                extend: {
                    colors: {
                        'text': '#021515',
                        'background': '#f3fefe',
                        'primary': '#2eeae9',
                        'secondary': '#8acaf3',
                        'accent': '#5c96ef',
                       },
                }
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}">
</head>
<body class="w-screen min-h-screen h-screen flex flex-col text-text overflow-x-hidden">
    <!-- navbar -->
    <nav class="flex justify-between w-full h-16 bg-background outline outline-1 outline-accent">
    {% if current_user.is_authenticated %}
        <div class="flex items-center p-4 outline outline-1 outline-accent gap-4">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="17.5" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
            {{ current_user.username }}
        </div>
        <a class="flex items-center p-4 outline outline-1 outline-accent hover:bg-secondary gap-2" href="{{ url_for('authentication.logout') }}">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
            Logout
        </a>
    {% endif %}
    </nav>

    <!-- main -->
    {% block main %}
    {% endblock %}

    <!-- footer -->
    <footer class="w-full h-20 bg-background text-center pt-2 pb-1 text-text outline outline-1 outline-accent">
        <div class="h-full flex flex-col justify-center gap-2 text-center">
            <a class="self-center" href="https://github.com/wai157/automatic_translation_voice_messenger" target="_blank">
                <img class="max-w-6 h-auto" src="{{ url_for('static', filename='/images/github.png') }}" alt="github">
            </a>
            <p>© 2024 VOICE MESSENGER</p>
    </footer>
</body>
</html>