<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Messenger</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/loader.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/logo.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/tailwindcss.js') }}"></script>
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'sans': ['Poppins', 'sans-serif'],
                },
                extend: {
                    colors: {
                        'text': '#021515',
                        'background': '#f3fefe',
                        'primary': '#2eeae9',
                        'secondary': '#8acaf3',
                        'accent': '#5c96ef',
                       },
                }
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toastr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.css') }}">
</head>
<body class="w-screen min-h-screen h-screen flex flex-col text-text divide-y divide-accent overflow-x-hidden">
    <!-- navbar -->
    <nav class="flex justify-between w-full h-16 bg-background">
    {% if current_user.is_authenticated %}
        <div class="flex items-center p-4 outline outline-1 outline-accent gap-4">
            <i class="fa-solid fa-user"></i>
            {{ current_user.username }}
        </div>
        <a class="flex items-center p-4 outline outline-1 outline-accent hover:bg-secondary gap-2" href="{{ url_for('authentication.logout') }}">
            <i class="fa-solid fa-sign-out-alt"></i>
            Logout
        </a>
    {% endif %}
    </nav>

    <!-- main -->
    {% block main %}
    {% endblock %}

    <!-- footer -->
    <footer class="w-full h-20 bg-background text-center pt-2 pb-1 text-text">
        <div class="h-full flex flex-col justify-center gap-2 text-center">
            <a class="self-center" href="https://github.com/wai157/ai_hub" target="_blank">
                <img class="max-w-6 h-auto" src="{{ url_for('static', filename='/images/github.png') }}" alt="github">
            </a>
            <p>© 2024 VOICE MESSENGER</p>
    </footer>
</body>
</html>