{% extends 'base.html' %} 
{% block main %}
<div class="flex w-full h-full divide-x divide-accent">
    <div class="flex flex-1 basis-1/3 justify-center items-center">
        <div class="flex flex-col w-4/5 h-[80vh] justify-start items-center bg-background rounded-xl border border-text overflow-y-auto">
            <div id="search-box" class="flex flex-col justify-center items-center w-full h-36 p-4 gap-4">
                <input type="text" id="user-to-chat" placeholder="Who you wanna chat with?" class="w-11/12 h-12 border-2 border-text rounded-xl p-2">
                <button class="w-12 h-12 border-2 border-text rounded-xl hover:bg-secondary" onclick="find_room($('#user-to-chat').val())"></button>
            </div>
            <table id="rooms" class="w-full border-y-[0.5px] border-text border-collapse">

            </table>
        </div>
    </div>
    <div class="flex flex-1 basis-2/3 justify-center items-center">
        <div class="flex flex-col w-11/12 h-[80vh] gap-2">
        <div id="chat-box" class="basis-4/5 h-80 grow p-4 border-2 overflow-y-auto overflow-x-hidden rounded-xl flex flex-col-reverse items-end">
        </div>
        <div class="basis-1/5 flex flex-row justify-between items-center gap-4">
            <div class="flex flex-col justify-center items-center h-full flex-1 bg-background py-8 px-16 rounded-xl border-2 gap-6 rounded-xl">
            <p>Current Mode</p>
            <select id="mode" class="w-4/5 h-12 bg-text text-center bg-white text-text rounded-xl border-2">
                <option value="vi">VI to EN</option>
                <option value="en">EN to VI</option>
            </select>
            </div>
            <div class="flex justify-center items-center h-full flex-1">
            <button id="mic-btn" class="w-20 h-20 border-2 rounded-full hover:bg-slate-200">
                <i class="fa-solid fa-microphone fa-2xl"></i>
            </button>
            </div>
        </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
<script src="{{ url_for('static', filename='js/fontawesome.js') }}"></script>
<script>
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
<script>
    var room_id = "{{ current_user.username }}" + " " + "{{ current_user.username }}"
    $.ajax({
        url: "{{ url_for('room.get_rooms') }}",
        method: "GET",
        success: function(data) {
            console.log(data);
            for (var i=0; i<data.length; i++) {
                $("#rooms").append("<tr class=\"\"><td class=\"w-full h-16 border-y-[0.5px] border-text flex justify-between items-center p-8 text-text hover:bg-secondary cursor-pointer\">"
                    +"<div class=\"h-fit w-fit\">"+data[i].room_name+"</div>"
                    +"<div class=\"h-fit w-fit text-slate-500 text-sm\">"+data[i].last_message_timestamp+"</div>"
                    +"</td></tr>")
            }
        },
        error: function(error) {
            console.log(error);
            toastr.error("Error loading rooms.");
        }
    });
</script>
<script>
    function find_room(user_to_find) {
        console.log(user_to_find)
        $.ajax({
            url: "{{ url_for('room.find_room') }}",
            method: "GET",
            data: $.param({
                user_to_find: user_to_find,
            }),
            success: function(data) {
                socket.emit("leave", {
                    room: room_id,
                });
                console.log(data);
                room_id=data.room_id;
                console.log(room_id);
                socket.emit("join", {
                    room: room_id,
                });
                populate_chat(data.messages);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
                toastr.error(xhr.responseText);
            }
        })
    }
    function populate_chat(messages) {
        $chat_box = $("#chat-box");
        console.log(messages);
        for (var i=0; i<messages.length; i++) {
            if (messages[i].sender == "") {
                var $message = $("<p>", {
                    "class": "w-full h-fit text-center text-sm text-slate-500"
                });
                $message.html(messages[i].message);
                $chat_box.append($message);
                continue;
            }
            var $message = $("<audio>", {
                "class": "w-1/3 h-fit bg-sky-500",
                "src": URL.createObjectURL(new Blob([new Uint8Array(messages[i])], { type: "audio/wav" }))
            });
        }
    }
    find_room("{{ current_user.username }}");
</script>
{% endblock %}
